<style type="text/css">

/* The alert message box */
.alert {
  padding: 50px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  font-size: 32px; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 150%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 56px; 
  font-family: Arial, Helvetica, sans-serif;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 

</style>
    
<div class="alert">
    <span id="errorMessageCloseButton" class="closebtn" onclick="errorForm.setVisible(false);">&times;</span>
    <div id="errorMessage">unknown error</div>
</div>
