<div style="font-size: 32px; color: #bffaf7; background-color: #993333; font-family: Arial, Helvetica, sans-serif; margin: 50px;">
    <br />
    <div style="margin: 50px; font-size: 100px; font-weight:bold;"><div id='winnerName' style="display: inline;">Fred</div> wins!</div>
    <br />
    <div id="playAgain" style="margin: auto; text-align: center;"><input type="button" name="wonButton" value="Play another round" style="font-size: 32px; background-color: #4CAF50; color: white; padding: 15px 32px; border: 0; text-decoration: none; margin: 20px;"></div>
</div>
