<div style="font-size: 150px; font-weight:bold; color: #ff1111; font-family: 'DejaVu Serif', serif;">Rummy Hub</div>
<div style="font-size: 32px; color: #bffaf7; font-family: Arial, Helvetica, sans-serif;">
    <br />
    <div style="margin-bottom: 4px; font-weight:bold;">Join a game</div>
    <input type="text" name="gameCode" placeholder="Enter the game code" style="font-size: 32px; margin-bottom: 3px;"><br />
    <input type="text" name="playerName" placeholder="Enter your name" style="font-size: 32px;"><br />
    <input type="button" name="playButton" value="Let's play!" style="font-size: 32px; background-color: #4CAF50; color: white; padding: 15px 32px; border: 0; text-decoration: none; display: inline-block; margin-top: 4px;"><br />
    <br />
    <br />
    <div style="margin-bottom: 4px; font-weight:bold;">Don't have a game yet?</div>
    <input type="button" name="newGameButton" value="Start a new game" style="font-size: 32px; background-color: #008CBA; color: white; padding: 15px 32px; border: 0; text-decoration: none; display: inline-block; margin-top: 4px;"><br />
</div>
