<div style="font-size: 150px; font-weight:bold; color: #ff1111; font-family: 'DejaVu Serif', serif;">Rummy Hub</div>
<div style="font-size: 32px; color: #bffaf7; font-family: Arial, Helvetica, sans-serif;">
    <br />
    <div style="margin-bottom: 4px; font-weight:bold;">New game created</div>
    <!-- <div style="font-size: 32px; margin-bottom: 4px; color: white; margin-top: 50px;">Game code: <div id='gameCode' style="font-size: 100px; display: inline;">1234</div></div>
    <div style="color: gray">Share this game code with your friends.</div> -->
    <br />
    <br />
    <div>Join your new game as:</div>
    <input type="text" name="playerName" placeholder="Enter your name" style="font-size: 32px"><br />
    <input type="button" name="playButton" value="Let's play!" style="font-size: 32px; background-color: #4CAF50; color: white; padding: 15px 32px; border: 0; text-decoration: none; display: inline-block; margin-top: 4px;"><br />
</div>
