<div style="font-size: 32px; color: #bffaf7; font-family: Arial, Helvetica, sans-serif;">
    <br />
    <div style="font-size: 64px; color: #1df087; margin-bottom: 4px; font-weight:bold;">Waiting for players to join</div>
    <br/>
    <div style="font-size: 32px; margin-bottom: 4px; color: white;  margin-top: 50px;">Game code: <div id="gameCode2" style="font-size: 100px; display: inline;">1234</div></div>
    <div style="color: gray">Share this game code with your friends.</div>
    <br />
    <div id="allowStart">
        <br />
        <input type="button" id="startButton" name="startButton" value="Start game" class="startButton" disabled><br />
    </div>
</div>
