<div style="font-size: 32px; color: #bffaf7; font-family: Arial, Helvetica, sans-serif;">
    <br />
    <div style="font-size: 64px; color: #1df087; margin-bottom: 4px; font-weight:bold;">Waiting for <div id="tableOwner" style="display: inline;">game owner</div> to start the game.</div>
    <br/>
    <div style="color: white">Game code: <div id="gameCode3" style="display: inline;">1234</div></div>
    <div style="color: gray">Share this game code with your friends.</div>
</div>
